{% extends 'base.html' %}
{% load i18n %}
{% load menu %}{% generate_menu %}
{% load static %}

{% block menu_block %}{% with menu=menus.user %}{% include "menu.html" %}{% endwith %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'schooldefault_list_url' %}">{% trans 'Default schools' %}</a></li>
    <li class="breadcrumb-item active">{{ schooldefault.name }}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_default_items_modify %}
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
        <h4>{% trans 'Edit default school' %}: {{ schooldefault.name }}</h4>
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
      <a href="{% url 'schooldefault_log_url' schooldefault.pk %}" class="btn btn-outline-primary">{% trans 'View log' %}</a>
      <a href="{% url 'schooldefault_delete_url' schooldefault.pk %}" class="btn btn-outline-danger">{% trans 'Delete' %}</a>
      <a href="{% url 'schooldefault_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_default_items_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}