{% extends 'base.html' %}
{% load i18n %}
{% load menu %}{% generate_menu %}

{% block menu_block %}{% with menu=menus.user %}{% include "menu.html" %}{% endwith %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item"><a>{{ subjectdefault.country }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'subjectdefault_list_url' %}">{% trans 'Default subjects' %}</a></li>
    <li class="breadcrumb-item active">{{ subjectdefault.name }}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_role_insp_or_system_and_perm_admin %}
      {% if user.country %}
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <h4>{% trans 'Edit default subject:' %} {{ subjectdefault.name }}</h4>
          {% include 'includes/form.html' %}
          <div class="mb-3">
            <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
            <a href="{% url 'subjectdefault_log_url' subjectdefault.pk %}" class="btn btn-outline-primary">{% trans 'View history' %}</a>
            {% if subjectdefault.has_no_linked_data %}
              <a href="{% url 'subjectdefault_delete_url' subjectdefault.pk %}" class="btn btn-outline-danger">{% trans 'Delete' %}</a>
            {% endif %}
            <a href="{% url 'subjectdefault_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
          </div>
        </form>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'home' %}" class="btn btn-outline-secundary">
            {% trans "You must first select a country, before you can edit a default subject." %}</a>
        </form>
      {% endif %}
    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'home' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
      </form>
    {% endif %}
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secundary">{% trans 'You must be logged in to view this page' %}</a>
    </form>
  {% endif %}
{% endblock %}